.top-panel {
  position: relative;
  left: 40px;

  .component {
    float: right;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    /* or */
    -webkit-transform: translateZ(0);
  }
}
